/* Donate Page CSS - Extracted from main.css */

/* Font Imports */
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

/* Basic Reset and Viewport */
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: transparent;
}

/* Preload Animations */
body.is-preload *, body.is-preload *:before, body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Element Reset */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, hgroup, menu, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  z-index: 0;
}

article, aside, details, figcaption, figure,
footer, hgroup, menu, section {
  display: block;
  z-index: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: black;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Typography */
html {
  font-size: 13pt;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 11pt;
  }
}

body {
  background-color: black;
  color: #ffffff;
}

body, input, select, textarea {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
}

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2rem 0;
}

header.special {
  text-align: center;
  margin-bottom: 4rem;
}

header.special p {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.25rem;
  }
}

/* Color Styles */
a {
  color: #ffffff;
}

strong, b {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

/* Inner Container */
.inner {
  margin: 0 auto;
  width: 75rem;
  max-width: calc(100% - 6rem);
}

@media screen and (max-width: 480px) {
  .inner {
    max-width: calc(100% - 3rem);
  }
}

/* Button Styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border-left: 0;
  border-right: 0;
  border-bottom: 0 hidden;
  border-top: 0;
  border-radius: 0;
  cursor: pointer;
  display: inherit;
  font-weight: normal;
  height: 7rem;
  line-height: -5.75rem;
  padding-top: 0;
  padding-right: 0rem;
  padding-left: 0rem;
  padding-bottom: 0;
  text-align: center;
  white-space: normal;
  background-color: black;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  box-shadow: inset 0 0 0 1px #ce1b28;
  color: #3cff00ff !important;
}

input[type="submit"]:hover:active,
input[type="reset"]:hover:active,
input[type="button"]:hover:active,
button:hover:active,
.button:hover:active {
  background-color: rgba(206, 27, 40, 0.25);
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
  box-shadow: none;
  background-color: #ce1b28;
  color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
  background-color: #e2212f;
  box-shadow: none;
}

input[type="submit"].primary:hover:active,
input[type="reset"].primary:hover:active,
input[type="button"].primary:hover:active,
button.primary:hover:active,
.button.primary:hover:active {
  background-color: #b71824;
}

/* List Styles */
ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px;
  padding: 0.75rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.alt li:last-child {
  padding-bottom: 0;
}

ul.plain {
  list-style: none;
  padding-left: 0;
}

ul.plain li {
  margin-bottom: 1rem;
}

/* Icon Styles */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* Wrapper */
.wrapper {
  padding: 4rem 0 4rem 0;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 2rem 0 2rem 0;
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 1rem 0 1rem 0;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 2rem 0 0.1rem 0;
  }
}

/* Body Background */
body {
  padding-top: 0rem;
}

body:before {
  content: ' ';
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}

/* Header */
#header {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: black;
  color: rgba(255, 255, 255, 0.9);
  cursor: default;
  height: 3.25rem;
  left: 0;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header > .logo {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  height: inherit;
  line-height: inherit;
  padding: 0 1.25rem;
  text-decoration: none;
}

#header > nav > a {
  color: inherit;
  display: inline-block;
  padding: 0 0.75rem;
}

#header > nav > a:hover {
  color: #ffffff;
}

#header > nav > a[href="#menu"] {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#header > nav > a[href="#menu"]:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  content: '\f0c9';
  margin: 0 0.5rem 0 0;
}

#header > nav > a + a[href="#menu"]:last-child {
  border-left: solid 1px rgba(255, 255, 255, 0.25);
  margin-left: 0.5rem;
  padding-left: 1.25rem;
}

#header > nav > a:last-child {
  padding-right: 1.25rem;
}

@media screen and (max-width: 736px) {
  #header > nav > a {
    padding: 0 0.5rem;
  }

  #header > nav > a + a[href="#menu"]:last-child {
    margin-left: 0.25rem;
    padding-left: 1rem;
  }

  #header > nav > a:last-child {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 980px) {
  body {
    padding-top: 44px;
  }

  #header {
    height: 44px;
    line-height: 44px;
  }
}

@media screen and (max-width: 480px) {
  #header {
    min-width: 320px;
  }
}

/* Menu */
#menu {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  -moz-transform: translateX(20rem);
  -webkit-transform: translateX(20rem);
  -ms-transform: translateX(20rem);
  transform: translateX(20rem);
  -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  box-shadow: none;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3rem 2rem;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20rem;
  z-index: 10002;
}

#menu input, #menu select, #menu textarea {
  color: #ffffff;
}

#menu a {
  color: #ffffff;
}

#menu strong, #menu b {
  color: #ffffff;
}

#menu h1, #menu h2, #menu h3, #menu h4, #menu h5, #menu h6 {
  color: #ffffff;
}

#menu > ul {
  margin: 0 0 1rem 0;
}

#menu > ul.links {
  list-style: none;
  padding: 0;
}

#menu > ul.links > li {
  padding: 0;
}

#menu > ul.links > li > a {
  border: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  line-height: 3.5rem;
}

#menu > ul.links > li > a:hover {
  color: #888888;
}

#menu > ul.links > li:first-child > a {
  border-top: 0;
}

#menu ul li ul li a {
  text-decoration: none;
  display: block;
  text-align: left;
  color: #ffffff;
}

#menu ul li ul li a:hover {
  color: #888888;
}

#menu ul li a:hover {
  background-color: rgba(9, 9, 9, 0);
}

#menu ul li ul li {
  font-size: 12px;
  display: block;
}

#menu .close {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 0;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: block;
  height: 3.25rem;
  line-height: 3.25rem;
  padding-right: 1.25rem;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: middle;
  width: 7rem;
}

#menu .close:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  content: '\f00d';
  font-size: 1.25rem;
}

#menu .close:hover {
  color: #ffffff;
}

@media screen and (max-width: 736px) {
  #menu {
    padding: 2.5rem 1.75rem;
  }

  #menu .close {
    height: 4rem;
    line-height: 4rem;
  }
}

body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}

/* Banner2 */
#banner2 {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: url("../../images/banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 35rem !important;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

#banner2 input, #banner2 select, #banner2 textarea {
  color: #ffffff;
}

#banner2 a {
  color: #ffffff;
}

#banner2 strong, #banner2 b {
  color: #ffffff;
}

#banner2 h1, #banner2 h2, #banner2 h3, #banner2 h4, #banner2 h5, #banner2 h6 {
  color: #ffffff;
}

#banner2 p {
  color: #DCDCDC;
}

#banner2 > .inner {
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  z-index: 3;
}

#banner2 > .inner > :last-child {
  margin-bottom: 0;
}

#banner2 h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#banner2 p {
  font-size: 1.5rem;
}

#banner2:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  background: transparent;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#banner2:after {
  background: transparent;
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 736px) {
  #banner2 {
    height: auto !important;
    min-height: 0;
    padding: 4rem 2rem 4rem 2rem;
  }

  #banner2 .inner {
    width: 100%;
  }

  #banner2 h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
  }

  #banner2 p {
    font-size: 1.25rem;
  }

  #banner2 br {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #banner2 p {
    font-size: 1rem;
  }
}

body.is-preload #banner2 .inner {
  -moz-transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
  opacity: 0;
}

body.is-preload #banner2:before {
  opacity: 0;
}

/* Main */
#main .content {
  background: transparent;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 0rem;
  padding: 3rem;
}

@media screen and (max-width: 980px) {
  #main .content {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  #main .content {
    padding: 1.5rem;
  }
}

/* Footer */
#footer {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  padding: 10rem 0 0rem 0;
}

#footer input, #footer select, #footer textarea {
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
}

#footer a:hover {
  color: #ce1b28;
}

#footer strong, #footer b {
  color: #ffffff;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  color: #ffffff;
}

#footer .content {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#footer .content section {
  width: 25%;
}

#footer .content section:first-child {
  width: 50%;
  padding-right: 4rem;
}

#footer .content section:last-child {
  padding-left: 4rem;
}

#footer .copyright {
  border-top: 1px solid;
  font-size: 0.8rem;
  opacity: 0.5;
  padding: 2rem 0;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #footer {
    padding: 9rem 0 2rem 0;
  }
}

@media screen and (max-width: 980px) {
  #footer .content {
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #footer .content section {
    width: 50%;
  }

  #footer .content section:first-child {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 1rem 0 1rem 0;
  }

  #footer .content section {
    width: 100%;
  }

  #footer .content section:last-child {
    padding-left: 0;
  }
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 2rem 0 0.1rem 0;
  }
}